body {
	font-family: "Rubik", sans-serif;
	margin: 0 auto;
	max-width: 1152px;
	width: 90%;
}

header {
	align-items: center;
	display: flex;
	justify-content: space-between;
	padding: 60px 0;
}

a {
	text-decoration: none;
	color: #4F5665;
  }

.links{
	font-size: 16px;
	line-height: 19px;
	color: #4F5665;
}

.link-item{
	display: inline-block;
	padding: 0 5px;
 }

.authorisation{
    color: #0B132A;
}

.button1{
	font-style: normal;
	font-size: 16px;
    font-weight: 500;
	line-height: 19px;
	background-color: transparent;
	border: 0;
	padding: 7px 25px;
	border: 1px solid;
	border-color: transparent;
	border-radius: 50px;
}
.button2{
	padding: 7px 25px;
	background-color: transparent;
	font-size: 16px;
	font-style: normal;
	font-weight: 500;
	line-height: 19px;
	border-radius: 50px;
	border: 1px solid;
	border-color: #F53855;
	color: #F53855;
}

.button1:hover{
   transition: all ease 0.5s;
   color: #F53855;
   border-color: #F53855;

}

.button2:hover{
	transition: all ease 0.5s;
	background-color: #F53855;
	color: #fff;	
}

.button3{
	padding: 7px 25px;
	background-color: #F53855;
	font-size: 16px;
	font-style: normal;
	font-weight: 500;
	line-height: 19px;
	border-radius: 50px;
	border: 1px solid;
	border-color: #F53855;
	color: #fff;
	box-shadow:0 15px 30px 10px rgba(245,56,56,0.35);
}

.button3:hover{
	color: #F53855;
	background-color: #fff;
}

.easy-vpn{
	display: inline-block;
}
.easy-vpn-title{
	margin-bottom: auto;
	max-height: 150px;
	max-width: 560px;
    font-size: 26px;
	line-height: 70px;
	text-align: left;
}

.easy-vpn-text{
	max-width: 460px;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
	margin-bottom: 15px;
	color: #4f5665;
	line-height: 30px;
}
	
.get-started-button{
	position: relative;
	font-size: 16px;
	width: 250px;
    height: 60px;
	line-height: 25px;
	color: #fff;
	border: 1px solid #F53855;
    border-radius: 10px;
	background-color: #F53855;
    padding: 7px 25px;
	box-shadow:0 15px 30px 10px rgba(245,56,56,0.35);
	top: 0;
	transition-duration: 0.5s;
}

.get-started-button:hover{
	transition: all ease 0.5s;
    color: #F53855;
	background-color: #fff;
	top: -10px;
}

.guy{
	margin-right: 60px;
	margin-left: 600px;
	margin-top: -340px;
}	

.statistics{
	display: flex;
	border-radius: 10px;
	box-shadow: 0 0 40px rgb(13,16,37,0.06);
	margin: 100px 0 90px;
	padding: 37px 0;
}   

.statistics-box {
	align-items: center;
	display: flex;
	justify-content: center;
	padding: 30px 0;
	width: 33%;
}

.statistics-content {
	margin-left: 20px;
}

.statistics-title{
	color: #0b132a;
	font-size: 22px;
	font-weight: 700;
	margin: 0;
	margin-bottom: 10px;
}

.statistics-text {
	color: #4f5665;
	font-size: 20px;
	margin: 0;
}

.provide {
	align-items: flex-end;
	display: flex;
	justify-content: space-around;
	margin-bottom: 130px;
}

.provide-content {
	font-size:17px;
	max-width:380px;
}

.provide-title{
	color: #0b132a;
	font-size: 28px;
	font-weight: 700;
	margin: 0;
	margin-bottom: 10px;
}

.provide-text {
	color: #4f5665;
	font-size: 17px;
	line-height: 30px;
}

.rovide-list {
	padding-left: 0;
}

.provide-list-item {
	align-items: center;
	color: #4f5665;
	display: flex;
	font-size: 16px;
}

.tarifs {
	display:flex;
	justify-content:space-around;
}

.tarifs-box-list {
	margin: 30px auto 0;
	padding-left: 0;
}

.tarifs-title{
	text-align: center;
	color: #0b132a;
	font-size: 18px;
	font-weight: bold;
	margin: 0;
	margin-bottom: 10px;
}

.tarifs-text {
	text-align: center;
	color: #4f5665;
	font-size: 17px;
	line-height: 30px;
}

.tarifs {
	margin-top: 60px;
}

.tarifs-box {
	align-content: flex-start;
	background: #fff;
	border: 2px solid #ddd;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	padding: 80px 0 50px;
	width: 330px;
}

.tarifs-box-title {
	color:#0b132a;
	font-size: 18px;
	font-weight: 500;
	margin-bottom: 0;
	margin-top: 30px;
	text-align: center;
	font-weight: bold;
}

.tarifs-box-list-item {
	align-items: center;
	color: #4f5665;
	display: flex;
	font-size: 16px;
}

.tarifs-box-logo {
	margin: 0 auto;
	width: 145px;
}

.tarifs-box-price {
	margin-top: auto;
	color: #0b132a;
	font-size: 24px;
	font-weight: 500;
	text-align: center;
}

.tarifs-box-button {
	border: 2px solid #f53838;
	display: block;
	font-size: 1rem;
	font-weight: 700;
	margin: 20px auto 0;
	padding: 13px 60px;
}

.tarifs-box-best {
	border:2px solid #f53838;
}

.testimonials {
	margin-top: 120px;
}

.testimonials-title {
	max-width: 380px;
	margin: 0 auto 30px;
	text-align: center;
	font-weight: 500;
	font-size: 22px;
	line-height: 50px;
}

.testimonials-text{
	text-align: center;
	font-weight: 500;
	font-size: 18px;
	line-height: 30px;
	color: #4f5665;
	line-height: 30px;
	margin: auto;
	max-width: 555px;
	margin-bottom: 120px;
}